
  <footer>    
    <a href="mailto:waotzi@pm.me">
    <img src="/icons/email.svg" alt="email"/>
    </a>
    <a href="https://t.me/waotzi">
    <img src="/icons/telegram.svg" alt="telegram"/>
    </a>
    <a href="https://soapbox.stereophonic.space/@waotzi">
    <img src="/icons/soapbox.svg" alt="fediverse"/>
    </a>
    <a href="https://twitter.com/waotzi">
    <img src="/icons/twitter.svg" alt="twitter"/>
    </a>
    <a href="https://waotzi.itch.io/">
    <img src="/icons/itchio.svg" alt="itch.io"/>
    </a>
    <a href="https://sr.ht/~waotzi/">
    <img src="/icons/sourcehut.svg" alt="sourcehut"/>
    </a>
    <a href="https://github.com/waotzi">
      <img src="/icons/github.svg" alt="github"/>
      </a>
    <a href="/atom.xml">
    <img src="/icons/atom.svg" alt="atom fediverse"/>
    </a>
  </footer>
</html>
