@font-face {
  font-family: fsex300;
  src: url(/static/FSEX300.ttf);
}

::-moz-focus-inner {
	border: 0;
}


body {
   font-family: fsex300;
   font-size: large;
   line-height: 1.5em;
   letter-spacing: 0.1em;   
   margin: auto;
   max-width: 700px;
	background-color: #270729;
	color: #dfffff;
}


article { flex-basis: 100%; padding: 0 1em; }

footer { flex-basis: 100%; flex-shrink: 0; }

nav a { text-decoration: none ; color: inherit; }


body > nav {
  flex-basis: content;
  padding-right: 1vw;
  min-width: 16em;
}

nav ul { display: flex; flex-direction: column; list-style-type: none; list-style-position: outside; padding-left: 0;  }

nav ul ul { padding-left: 1em }

footer { display: flex; justify-content: space-between; }

img { display: block; margin-left: auto; margin-right: auto; width: 50%; }

a {
  text-decoration: none;
  color: #9d9;
}

a:hover { color: #4d4 }

h1 {
  text-align: center;
  font-size: 1.6em;
}

h2 { font-size: 1.4em }

h3 { font-size: 1.2em }

h4 { font-size: 1em }



footer {
  padding-top: 4rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 1rem;
}


header h1 {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 100;
}

header hr {
  border: solid 0.1rem #9d9;
  border-radius: 2px;
}

pre code {
  font-family: fsex300;

}
.cards {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
}
.card {
   width: 280px;
   border-radius: 2%;
	background-color: #570759;
   margin: 20px;
   padding-bottom: 1em;
   text-align: center;

}
.quote {
   padding-top: 1em;
}
.card img {
   opacity: 0.8;
   border-radius: 2% 2% 0 0;
   width: 100%;
}
.card img:hover {
   opacity: 1;
}
.big {
   font-size: 2.5em;
}
