@font-face {
  font-family: fsex300;
  src: url(/FSEX300.ttf);
}

@font-face {
  font-family: canada1500;
  src: url(/canada1500.otf);
}


::-moz-focus-inner {
	border: 0;
}


body {
  font-family: canada1500;
  font-size: large;
  line-height: 1.5em;
  letter-spacing: 0.1em;   
  margin: auto;
  max-width: 700px;
  background-color: #270729;
  color: #dfffff;
}



article {
  flex-basis: 100%;
  padding: 0 1em;
  overflow-wrap: break-word;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  flex-shrink: 0;
  padding: 0 1rem;
}

footer a {
  padding: 0.5rem;
}
nav a { text-decoration: none ; color: inherit; }


body > nav {
  flex-basis: content;
  padding-right: 1vw;
  min-width: 16em;
}

nav ul { display: flex; flex-direction: column; list-style-type: none; list-style-position: outside; padding-left: 0;  }

nav ul ul { padding-left: 1em }

footer { display: flex; justify-content: space-between; }

img { display: block; margin-left: auto; margin-right: auto; width: 50%; }

a {
  text-decoration: none;
  color: #9d9;
}

a:hover { color: #4d4 }

h1 {
  font-family: fsex300;
  text-align: center;
  font-size: 1.6em;
}

h2 { font-size: 1.4em }

h3 { font-size: 1.2em }

h4 { font-size: 1em }


footer {
  padding-top: 4rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 1rem;
}

header h1 {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 100;
}

header hr {
  border: solid 0.1rem #9d9;
  border-radius: 2px;
}

pre code {
  font-family: fsex300;

}

#profolio {
  text-align: center;
}
#profolio img {
  width: 64px;
}


#donate img {
  width: 128px;
}

#posts p {
  margin: auto;
}

#posts h3 {
  text-align: center;
}

#posts img {
  padding-top: 5rem;
}