
  <footer>    
    <a href="mailto:waotzi@pm.me">
    <img src="/static/icons/email.svg" alt="email"/>
    </a>
    <a href="https://t.me/waotzi">
    <img src="/static/icons/telegram.svg" alt="telegram"/>
    </a>
    <a href="https://gleasonator.com/@waotzi">
    <img src="/static/icons/soapbox.png" alt="fediverse"/>
    </a>
    <a href="https://twitter.com/waotzi">
    <img src="/static/icons/twitter.svg" alt="twitter"/>
    </a>
    <a href="https://waotzi.itch.io/">
    <img src="/static/icons/itchio.svg" alt="itch.io"/>
    </a>
    <a href="https://sr.ht/~waotzi/">
    <img src="/static/icons/sourcehut.svg" alt="sourcehut"/>
    </a>
    <a href="/atom.xml">
    <img src="/static/icons/atom.svg" alt="atom fediverse"/>
    </a>
  </footer>
</html>
